Form{
    font-size: 30px;
    width: 100%;
    text-align: center;

}

Label {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-align: center;
}

Control {
    margin-left: 20px;
}

Button {
    margin-left: 20px;
    margin-top: 20px;
}

